<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>

    {% include navbar.html %}

    <section class="section px-5">
      <div class="columns">
        <div class="column is-2">

          {% include menu.html %}

        </div>
        <div class="column">
          <div class="content">
            
            {{ content }}

          </div>
        </div>
        <div class="column is-1"></div>
      </div>
    </section>
  </body>
</html>